/* CSS Variables */
:root {
  --color-primary: #005197;
  --color-secondary: #009fdd;

  --color-grey-light-1: #c6c6c6;
  --color-grey-dark-1: #333;
  --color-white: #fff;
  --color-black: #000;

  --bg-gradient-primary: linear-gradient(to right bottom, #005197, #009fdd);
  --bg-gradient-secondary: linear-gradient(to right bottom, #f7f7f7, #fff);

  --default-font-size: 1.6rem;

  /* --box-shadow-1: 0 1.5rem 3rem rgba(0, 0, 0, 0.3); */
  --box-shadow-1: 0 1.5rem 2rem rgba(0, 0, 0, 0.15);
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* line-height: 2.5rem; */
  font-family: 'Montserrat', sans-serif;
  /* overflow: hidden; */
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
}

/* Setting root font-size for easy conversion of measurements and media queries 
1rem = 10px */
html {
  font-size: 62.5%;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  padding: 6rem;
  overflow: hidden;
}

/* Buttons */
.btn:link,
.btn:visited {
  text-transform: none;
  text-decoration: none;
  padding: 1.5rem 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: inline-block;
  /* border-radius: 10rem; */
  transition: all 0.2s;
  position: relative;
  font-weight: 700;
  font-size: 1.7rem;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  transform: translateY(1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--primary {
  background-image: var(--bg-gradient-primary);
  color: var(--color-white);
  letter-spacing: 0.25rem;
  font-weight: 700;
}
.btn--primary:hover {
  background-image: var(--bg-gradient-secondary);
  color: var(--color-primary);
}

.btn--two {
  background-image: var(--bg-gradient-secondary);
  color: var(--color-primary);
  letter-spacing: 0.25rem;
  font-weight: 700;
}
.btn--two:hover {
  background-image: var(--bg-gradient-primary);
  color: var(--color-white);
}

/* Underlines */
.underline-1 {
  height: 4px;
  width: 15rem;
  background: var(--color-grey-light-1);
  display: block;
  margin: 2rem auto 2rem auto;
}

.underline-2 {
  height: 4px;
  width: 15rem;
  background: var(--color-black);
  display: flex;
  margin: 2rem auto 2rem auto;
  justify-content: left;
}
/* Navigation */
.banner {
  background-color: #f7f7f7;
}

.logo-box {
  display: flex;
  justify-content: space-evenly;
  /* justify-content: center; */
  align-items: center;
  /* margin: 1.5rem 0; */
  padding: 1rem 0;
}

.logo-box img {
  display: flex;
  height: 7.5rem;
  margin-right: 75rem;
}

.logo-box a {
  display: flex;
  position: relative;
  align-items: right;
  font-size: 2.5rem;
  font-weight: 50;
  /* background-image: var(--bg-gradient-primary);
  -webkit-background-clip: text;
  background-clip: text; */
  color: var(--color-secondary);
  text-decoration: none;
  font-style: italic;
}

.logo-box a:hover {
  display: flex;
  position: relative;
  align-items: right;
  font-size: 2.5rem;
  font-weight: 50;
  color: var(--color-grey-light-1);
  text-decoration: none;
  font-style: italic;
}
/* 
.logo-box .logo-box-phone {
  background-image: var(--bg-gradient-primary);
  padding: 1rem 1rem;
  border-radius: 3%;
  box-shadow: 0rem 1.5rem 2rem rgba(0, 0, 0, 0.2);
}
.logo-box .logo-box-phone:hover {
  background-image: var(--color-white);
  padding: 1rem 1rem;
  border-radius: 3%;
  box-shadow: 0rem 1.5rem 2rem rgba(0, 0, 0, 0.2);
} */

.navigation {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
}

.navigation .navigation__nav {
  position: relative;
  /* background-image: var(--bg-gradient-primary); */
  background-color: #f7f7f7;
  padding: 2rem 0;
}

.navigation .navigation__nav .navigation__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation .navigation__nav .navigation__list .navigation__item {
  list-style: none;
  letter-spacing: 1.5px;
  padding: 0 2rem;
  text-transform: none;
  font-size: var(--default-font-size);
  font-weight: bold;
}

.navigation .navigation__nav .navigation__list .navigation__item a {
  list-style: none;
  padding: 0 2rem;
  font-size: var(--default-font-size);
  font-weight: 50;
  color: var(--color-secondary);
  transition: all 0.5s ease;
  text-decoration: none;
}

.navigation .navigation__nav .navigation__list .navigation__item a:hover {
  color: var(--color-grey-light-1);
}

.nav__mobile {
  display: none;
}

.hamburger {
  display: none;
}

/* Header */
.header {
  height: 80vh;
  position: relative;
  display: flex;
  background-image: url(../img/pool3.jpg);
  /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  clip-path: polygon(0 0,100% 0, 100% 70vh, 0 100%); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}

.header > * {
  position: relative;
  z-index: 2;
}

.header:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.header h1 {
  color: var(--color-white);
  font-size: 6rem;
  text-align: center;
  /* display: block; */
}

.header a {
  text-decoration: none;
  color: #fff;
}

.header .btn--primary {
  display: inline-block;
  background-color: var(--primary-color);
  padding: 1rem 4rem;
  font-weight: 700;
  font-size: var(--default-font-size);
  text-align: center;
  transition: all 0.5s;
  z-index: 1;
}

.header .btn--primary:hover {
  transform: translateY(-0.5rem);
  color: var(--primary-color);
  background: var(--color-off-white);
}

/* Values */
.values {
  position: relative;
  padding: 2rem 0;
  background-image: var(--bg-gradient-primary);
}

.values h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 6rem;
  color: var(--color-white);
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.values .values-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.values .values-items .values-items-item {
  text-align: center;
  margin-bottom: 4rem;
  margin-right: 2rem;
  margin-left: 2rem;
  /* padding: 2rem; */
}

.values .values-items .values-items-item .fas {
  color: var(--color-white);
  margin-bottom: 2rem;
  font-size: 6rem;
  padding: 0 2rem;
}

.values .values-items .values-items-item h3 {
  color: var(--color-grey-light-1);
  margin-bottom: 2rem;
  font-size: 3rem;
  padding: 0 2rem;
}

.values .values-items .values-items-item p {
  color: var(--color-white);
  font-size: 1.8rem;
  text-align: left;
  padding: 0 2rem;
}

/* .values .values-item h3 {
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 1.5px;
  color: var(--color-grey-light-1);
  font-weight: 700;
  margin-bottom: 2rem;
} */

/* Steps */
.step {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: #f7f7f7;
  overflow: visible;
}

.step h2 {
  position: relative;
  font-size: 4rem;
  /* font-weight: 900; */
  background-image: var(--bg-gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
  text-transform: none;
  margin-bottom: 2rem;
}

.step h2 span{
  background-image: var(--bg-gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-bottom: 2rem;
}

.step h4 {
  font-size: 2.5rem;
  background-image: var(--bg-gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
  margin-bottom: 2rem;
  
}


.step h3 {
  font-size: 2.5rem;
  color: var(--color-white);
  text-align: center;
  margin-bottom: 2rem;
}


.step p {
  font-size: 1.75rem;
  font-weight: 50;
  line-height: 1.6;
  letter-spacing: 1px;
  color: var(--color-black);
  text-align: center;
  text-transform: none;
  /* margin-bottom: 2rem; */
}

.step-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 5rem;
  justify-items: center;
}

.step-item {
  display: table;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  /* border: 5px;
  border-style: solid;
  border-color: var(--color-primary); */
  /* -webkit-background-clip: text;
  color: transparent; */
}

.step-item img {
  width: 100%;
}

.step-item .fas, .far {
  text-align: center;
  font-size: 10rem;
  margin-bottom: 2rem;
  background-image: var(--bg-gradient-primary);
  -webkit-background-clip: text;
  color: transparent;
}

.step-item .fas:hover {
  text-align: center;
  font-size: 10rem;
  margin-bottom: 2rem;
  color: var(--color-black);
}

/* Features*/

.features {
  position: relative;
  background: #f7f7f7;
}

.features-box {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.features-box .features-box-image {
  flex: 1;
  margin-right: 2rem;
  padding: 2rem;
}

.features-box .features-box-text {
  flex: 1;
  padding: 2rem;
}

.features-box .features-box-text h2 {
  text-transform: none;
  background-image: var(--bg-gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 3.5rem;
  font-family: inherit;
  margin-bottom: 2rem;
}

.features-box .features-box-text p {
  font-size: 1.75rem;
  font-weight: 50;
  line-height: 1.6;
  letter-spacing: 1px;
  color: var(--color-black);
  text-align: left;
  text-transform: none;
  margin-bottom: 1rem;
}

.features-box .features-box-image img {
  width: 100%;
  border-radius: 5%;
}

/* Showcase */
.showcase {
  position: relative;
  /* padding: 2rem 0; */
  background: var(--color-white);
}

.showcase h2 {
  position: relative;
  font-size: 4rem;
  background-image: var(--bg-gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
  text-transform: none;
  margin-bottom: 2rem;
}

.showcase h2 span {
  background-image: var(--bg-gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.showcase__img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  /* z-index: 2; */
}

.showcase__img-box-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showcase p {
  font-size: 1.75rem;
  font-weight: 50;
  line-height: 1.6;
  letter-spacing: 1px;
  text-align: center;
  color: var(--color-black);
  margin-top: 3rem;
}

.showcase p span {
  font-size: 2.25rem;
  font-weight: 50;
  line-height: 1.6;
  letter-spacing: 1px;
  text-align: center;
  text-transform: none;
  background-image: var(--bg-gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* margin-bottom: 2rem; */
}



.showcase h3 {
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 3rem;
}

.showcase h4 {
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-grey-light-1);
  margin: 2rem 0;
}

.showcase .showcase__img-gallery {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  gap: 5rem;
  justify-items: center;
  margin-top: 4rem;
}

.showcase .showcase__img-gallery img {
  width: 90%;
  border-radius: 3px;
  box-shadow: var(--box-shadow-1);
  overflow: hidden;
  border-radius: 5%
  ;
}

.showcase .btn--secondary {
  display: inline-block;
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 1.5rem 4rem;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  transition: all 0.5s;
  /* z-index: 1; */
}

.showcase .btn--secondary:hover {
  display: inline-block;
  background-color: var(--color-white);
  color: var(--color-primary);
  padding: 1.5rem 4rem;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  transition: all 0.5s;
  /* z-index: 1; */
}

/* Gallery */

.gallery {
  position: relative;
  background-color: var(--color-white);
}

.gallery h2 {
  font-size: 6rem;
  text-align: center;
  text-transform: none;
  color: var(--color-grey-light-1);
  margin-bottom: 4rem;
}

.gallery h4 {
  font-size: 1.75rem;
  text-transform: none;
  text-align: center;
  color: var(--color-black);
  margin-bottom: 4rem;
}

.gallery__img-box h3 {
  font-size: 6rem;
  color: var(--color-white);
  position: absolute;
  top: 20%;
}

.gallery .gallery__img-gallery {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 5rem;
  justify-items: center;
}

.gallery .gallery__img-gallery img {
  width: 100%;
}

/* .gallery__img-box a {
  position: absolute;
right: 20%;
 } */

/* Process */
.process {
  position: relative;
  display: flex;
  background: var(--color-white);
}

.process h2 {
  text-transform: none;
  background-image: var(--bg-gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 3.5rem;
  font-family: inherit;
  margin-bottom: 2rem;
}

.process p {
  font-size: 1.75rem;
  font-weight: 50;
  line-height: 1.6;
  letter-spacing: 1px;
  color: var(--color-black);
  text-align: left;
  text-transform: none;
  margin-bottom: 1rem;
}

.process .process__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.process .process__item .process__item-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 2rem; */
  flex-wrap: wrap;
}

.process .process__item .process__item-item:nth-child {
  flex-direction: row-reverse;
}

.process .process__item .process__item-item {
  /* margin-top: 8rem; */
}

.process .process__item-textbox--1 {
  flex-basis: 50%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.process .process__item-textbox--1 {
  padding-left: 6rem;
}

.process .process__item-img--1,
.process .process__item-img--2 {
  flex-basis: 50%;
}

.process .process__item-img--1 img {
  width: 100%;
  /* background: url("/img/pool4.jpg") no-repeat center center/cover; */
}

.process .process__item .process__item-measurements li {
  list-style-position: inside;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.process .process__item .btn {
  position: relative;
  transition: all 0.2s;
}

/* Process 2 */
.process-2 {
  position: relative;
  display: flex;
  background: #f7f7f7;
}

.process-2 h2 {
  text-transform: none;
  background-image: var(--bg-gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 3.5rem;
  font-family: inherit;
  margin-bottom: 2rem;
}

.process-2 p {
  font-size: 1.75rem;
  font-weight: 50;
  line-height: 1.6;
  letter-spacing: 1px;
  color: var(--color-black);
  text-align: left;
  text-transform: none;
  margin-bottom: 1rem;
  padding-right: 4rem;
}

.process-2 .process-2__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.process-2 .process-2__item .process-2__item-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 2rem; */
  flex-wrap: wrap;
}

.process-2 .process-2__item .process-2__item-item {
  flex-direction: row-reverse;
}

.process-2 .process-2__item-textbox--1 {
  flex-basis: 50%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.process-2 .process-2__item-textbox--1 {
  padding-left: 6rem;
}

.process-2 .process-2__item-img--1,
.process-2 .process-2__item-img--2 {
  flex-basis: 50%;
}

.process-2 .process-2__item-img--1 img {
  width: 100%;
  /* background: url("/img/pool4.jpg") no-repeat center center/cover; */
}

.process-2 .process-2__item .process-2__item-measurements li {
  list-style-position: inside;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.process-2 .process-2__item .btn {
  position: relative;
  transition: all 0.2s;
}
/* Process 3 */
.process-3 {
  position: relative;
  display: flex;
  background: var(--color-white);
}

.process-3 h2 {
  text-transform: none;
  background-image: var(--bg-gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 3.5rem;
  font-family: inherit;
  margin-bottom: 2rem;
}

.process-3 p {
  font-size: 1rem;
  font-weight: 50;
  line-height: 1.6;
  letter-spacing: 1px;
  color: var(--color-black);
  text-align: left;
  text-transform: none;
  margin-bottom: 1rem;
}

.process-3 .process-3__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.process-3 .process-3__item .process-3__item-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 2rem; */
  flex-wrap: wrap;
}

.process-3 .process-3__item .process-3__item-item:nth-child(even) {
  flex-direction: row-reverse;
}

.process-3 .process-3__item .process-3__item-item {
  /* margin-top: 8rem; */
}

.process-3 .process-3__item-textbox--1 {
  flex-basis: 50%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.process-3 .process-3__item-textbox--1 {
  padding-left: 6rem;
}

.process-3 .process-3__item-img--1,
.process-3 .process-3__item-img--2 {
  flex-basis: 50%;
}

.process-3 .process-3__item-img--1 img {
  width: 100%;
  /* background: url("/img/pool4.jpg") no-repeat center center/cover; */
}

.process-3 .process-3__item .process-3__item-measurements li {
  list-style-position: inside;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.process-3 .process-3__item .btn {
  position: relative;
  transition: all 0.2s;
}

/* Process 3 */
/* .process-3 {
  position: relative;
  display: flex;
  background: var(--bg-gradient-primary);
  padding: 0rem 0rem 8rem 0rem;
}

.process-3 h2 {
  color: var(--color-white);
  font-size: 6rem;
  margin-bottom: 4rem;
  text-align: left;
  text-transform: uppercase;
}

.process-3 p {
  color: var(--color-white);
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.process-3 .btn--primary {
  display: inline-block;
  background-color: var(--color-white);
  color: var(--color-primary);
  padding: 1.5rem 4rem;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  transition: all 0.5s;
  z-index: 1;
}

.process-3 .btn--primary:hover {
  transform: translateY(-0.5rem);
  color: var(--color-white);
  background: var(--color-primary);
}

.process-3 .process-3__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.process-3 .process-3__item .process-3__item-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.process-3 .process-3__item .process-3__item-item:nth-child(even) {
  flex-direction: row-reverse;
}

.process-3 .process-3__item .process-3__item-item {
  margin-top: 8rem;
}

.process-3 .process-3__item-textbox--1,
.process-3 .process-3__item-textbox--2 {
  flex-basis: 60%;
}

.process-3 .process-3__item-textbox--1 {
  padding-left: 6rem;
}

.process-3 .process-3__item-textbox--2 {
  padding-right: 6rem;
}

.process-3 .process-3__item-img--1,
.process-3 .process-3__item-img--2 {
  flex-basis: 40%;
}

.process-3 .process-3__item-img--1 {
  background: url("/img/pool8.jpg") no-repeat center center/cover;
}

.process-3 .process-3__item .process-3__item-measurements li {
  list-style-position: inside;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.process-3 .process-3__item .btn {
  position: relative;
  transition: all 0.2s;
} */

/* Financing */
.financing {
  display: flex;
  position: relative;
  background-color: var(--color-white);
}

.financing h2 {
  position: relative;
  font-size: 4rem;
  /* font-weight: 900; */
  background-image: var(--bg-gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
  text-transform: none;
  margin-bottom: 2rem;
}

.financing h4 {
  font-size: 2.5rem;
  font-weight: 50;
  line-height: 1.6;
  letter-spacing: 1px;
  text-align: center;
  text-transform: none;
  color: var(--color-black);
  margin: 2rem 0;
}

.financing p {
  font-size: 1.75rem;
  font-weight: 50;
  line-height: 1.6;
  letter-spacing: 1px;
  color: var(--color-black);
  text-align: center;
  text-transform: none;
  /* margin-bottom: 2rem; */
}


.financing a {
  font-size: 1.75rem;
  font-weight: 50;
  line-height: 1.6;
  letter-spacing: 1px;
  background-image: var(--bg-gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
  text-transform: none;
  /* margin-bottom: 2rem; */
}

.financing a:hover {
  transform: translateY(-0.5rem);
  color: var(--color-grey-light-1);
  /* background: var(--color-primary); */
}


/* Testimonials */
.section-testimonials {
  display: flex;
  position: relative;
  background-image: var(--bg-gradient-primary);
}

.section-testimonials h2 {
  color: var(--color-white);
  font-size: 4rem;
  text-align: center;
  text-transform: none;
  margin-bottom: 2rem;
}
.section-testimonials .testimonials {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.section-testimonials .testimonials__item {
  padding: 0 2rem;
  position: relative;
}
.section-testimonials .testimonials__item .fa-quote-left {
  transform: translateX(-50%);
  margin-bottom: 0.5rem;
  color: var(--color-white);
  position: relative;
  opacity: 0.15;
  z-index: 1;
  margin: 2rem 0;
}
.section-testimonials .testimonials__text p {
  font-size: 1.75rem;
  font-weight: 50;
  line-height: 1.6;
  letter-spacing: 1px;
  color: var(--color-white);
  text-align: left;
  text-transform: none;
  margin-bottom: 2rem;
}
.section-testimonials .testimonials h4 {
  font-size: 1.5rem;
  font-weight: bolder;
  letter-spacing: 1px;
  color: var(--color-white);
  font-style: italic;
}

/* Slider */
.section-slider {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  background-image: var(--color-white);
}

.section-slider h2 {
  background-image: var(--bg-gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 4rem;
  text-align: center;
  text-transform: none;
  margin-bottom: 0rem;
}

.section-slider p {
  font-size: 2.5rem;
  color: #000;
  text-align: center;
}

.section-slider .mySlides {
  display: none;
  text-align: center;
}

.section-slider .w3-left,
.w3-right,
.w3-badge {
  cursor: pointer;
}

.section-slider .w3-badge {
  height: 13px;
  width: 13px;
  padding: 0;
}

.section-slider .w3-display-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-slider .w3-display-container .w3-container {
  display: flex;
  justify-content: center;
}

.section-slider .w3-left {
  background-image: linear-gradient(
    to right bottom,
    rgb(168, 200, 241),
    #3a67af
  );
  -webkit-background-clip: text;
  color: transparent;
  font-size: 4rem;
  display: inline-block;
  text-align: center;
  margin: 1rem 4rem;
}

.section-slider .w3-right {
  background-image: linear-gradient(
    to right bottom,
    rgb(168, 200, 241),
    #3a67af
  );
  -webkit-background-clip: text;
  color: transparent;
  font-size: 4rem;
  display: inline-block;
  text-align: center;
  margin: 1rem 4rem;
}

.section-slider img {
  width: 50%;
  border-radius: 3%;
}

/* About 1 */
.about {
  position: relative;
  display: flex;
  background: var(--color-white);
}

.about h2 {
  text-transform: none;
  background-image: var(--bg-gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 3.5rem;
  font-family: inherit;
  margin-bottom: 2rem;
}

.about p {
  font-size: 1.75rem;
  font-weight: 50;
  line-height: 1.6;
  letter-spacing: 1px;
  color: var(--color-black);
  text-align: left;
  text-transform: none;
  margin-bottom: 1rem;
}

.about .about__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about .about__item .about__item-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.about .about__item .about__item-item:nth-child(even) {
  flex-direction: row-reverse;
}

.about .about__item .about__item-item {
  /* margin-top: 8rem; */
}

.about .about__item-textbox--1,
.about .about__item-textbox--2 {
  flex-basis: 50%;
}

.about .about__item-textbox--1 {
  padding-left: 6rem;
}

.about .about__item-textbox--2 {
  padding-right: 6rem;
}

.about .about__item-img--1,
.about .about__item-img--2 {
  flex-basis: 50%;
}

.about .about__item-img--1 {
  background: url("/img/pool11.jpg") no-repeat center center/cover;
}

.about .about__item .about__item-measurements li {
  list-style-position: inside;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.about .about__item .btn {
  position: relative;
  transition: all 0.2s;
}

/* About 2 */
.about-2 {
  position: relative;
  display: flex;
  background: #f7f7f7;
}

.about-2 h2 {
  text-transform: none;
  background-image: var(--bg-gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 3.5rem;
  font-family: inherit;
  margin-bottom: 2rem;
}

.about-2 p {
  font-size: 1.75rem;
  font-weight: 50;
  line-height: 1.6;
  letter-spacing: 1px;
  color: var(--color-black);
  text-align: left;
  text-transform: none;
  margin-bottom: 1rem;
}

.about-2 .about-2__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about-2 .about-2__item .about-2__item-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.about-2 .about-2__item .about-2__item-item:nth-child(even) {
  flex-direction: row-reverse;
}

.about-2 .about-2__item .about-2__item-item {
  /* margin-top: 8rem; */
}

.about-2 .about-2__item-textbox--1,
.about-2 .about-2__item-textbox--2 {
  flex-basis: 50%;
}

.about-2 .about-2__item-textbox--1 {
  padding-right: 6rem;
}

.about-2 .about-2__item-textbox--2 {
  padding-right: 6rem;
}

.about-2 .about-2__item-img--1,
.about-2 .about-2__item-img--2 {
  flex-basis: 50%;
}

.about-2 .about-2__item-img--1 {
  background: url("/img/pool12.jpg") no-repeat center center/cover;
}

.about-2 .about-2__item .about-2__item-measurements li {
  list-style-position: inside;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.about-2 .about-2__item .btn {
  position: relative;
  transition: all 0.2s;
}

/* About 3 */
.about-3 {
  position: relative;
  display: flex;
  background: var(--bg-gradient-primary);
  padding: 0rem 0rem 8rem 0rem;
}

.about-3 h2 {
  color: var(--color-white);
  font-size: 6rem;
  margin-bottom: 4rem;
  text-align: left;
  text-transform: uppercase;
}

.about-3 p {
  color: var(--color-white);
  font-size: 2rem;
  padding-bottom: 1rem;
}

.about-3 a {
  color: var(--color-white);
  font-size: 2rem;
  text-decoration: none;
  padding-bottom: 1rem;
}

.about-3 a:hover {
  transform: translateY(-0.5rem);
  color: var(--color-grey-light-1);
  /* background: var(--color-primary); */
}

.about-3 .btn--primary {
  display: inline-block;
  background-color: var(--color-white);
  color: var(--color-primary);
  padding: 1.5rem 4rem;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  transition: all 0.5s;
  z-index: 1;
}

.about-3 .btn--primary:hover {
  transform: translateY(-0.5rem);
  color: var(--color-white);
  background: var(--color-primary);
}

.about-3 .about-3__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about-3 .about-3__item .about-3__item-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.about-3 .about-3__item .about-3__item-item:nth-child(even) {
  flex-direction: row-reverse;
}

.about-3 .about-3__item .about-3__item-item {
  margin-top: 8rem;
}

.about-3 .about-3__item-textbox--1,
.about-3 .about-3__item-textbox--2 {
  flex-basis: 30%;
}

.about-3 .about-3__item-textbox--1 {
  padding-left: 6rem;
}

.about-3 .about-3__item-textbox--2 {
  padding-right: 6rem;
}

.about-3 .about-3__item-img--1,
.about-3 .about-3__item-img--2 {
  flex-basis: 70%;
}

.about-3 .about-3__item-img--1 {
  background: url("/img/pool13.jpg") no-repeat center center/cover;
}

.about-3 .about-3__item .about-3__item-measurements li {
  list-style-position: inside;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.about-3 .about-3__item .btn {
  position: relative;
  transition: all 0.2s;
}

/* Services */
.services {
  background-color: #f7f7f7;
  position: relative;
  /* margin: 0 auto; */
}

.services h2 {
  font-size: 4rem;
  background-image: var(--bg-gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
  text-transform: none;
  margin-bottom: 2rem;
}
.services__cards {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.services__card {
  background-color: rgba(255, 255, 255, 0.7);
  height: 60rem;
  /* padding: 2.5rem 3rem; */
  width: 34rem;
  margin: 4rem;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}

.services__card:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.services__card-img img {
  width: 100%;
}

.services .tertiary-heading {
  font-family: inherit;
  font-size: 2.25rem;
  color: var(--color-grey-light-1);
  padding: 0 2rem;
  margin-top: 2rem;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.services__card-text {
  font-size: var(--default-font-size);
  font-family: inherit;
  color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: 50;
  line-height: 1.6;
  letter-spacing: 1px;
  padding: 0 2rem;
  margin-top: 2rem;
  font-weight: 500;
}

/* Services 2 */
.services-2 {
  background-color: var(--color-white);
  position: relative;
  /* margin: 0 auto; */
}

.services-2 h2 {
  font-size: 4rem;
  color: var(--color-primary);
  text-align: center;
  text-transform: none;
  margin-bottom: 2rem;
}
.services-2__cards {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.services-2__card {
  background-color: rgba(255, 255, 255, 0.7);
  height: 60rem;
  /* padding: 2.5rem 3rem; */
  width: 34rem;
  margin: 4rem;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}

.services-2__card:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.services-2__card-img img {
  width: 100%;
}

.services-2 .tertiary-heading {
  font-family: inherit;
  font-size: 2.25rem;
  color: var(--color-grey-light-1);
  padding: 0 2rem;
  margin-top: 2rem;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.services-2__card-text {
  font-size: var(--default-font-size);
  font-family: inherit;
  color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: 50;
  line-height: 1.6;
  letter-spacing: 1px;
  padding: 0 2rem;
  margin-top: 2rem;
  font-weight: 500;
}

/* Gallery */
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.gallery {
  position: relative;
  background: var(--color-white);
}

.gallery h2 {
  font-size: 4rem;
  text-align: center;
  background-image: var(--bg-gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-bottom: 2rem;
}

.gallery__img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  /* z-index: 2; */
}

.gallery__img-box-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallery p {
  font-size: 2rem;
  text-align: center;
  color: var(--color-white);
  padding-bottom: 4rem;
  padding-top: 2rem;
}

.gallery h3 {
  font-size: 4rem;
  text-align: center;
  color: var(--color-white);
  margin-bottom: 3rem;
}

.gallery .gallery__img-gallery {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 5rem;
  justify-items: center;
}

.gallery .gallery__img-gallery img {
  width: 90%;
  border-radius: 5%;
  box-shadow: var(--box-shadow-1);
  overflow: hidden;
}

/* Contact */
.section-contact {
  position: relative;
  background-color: #f7f7f7;
}
.section-contact h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
  background-image: var(--bg-gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
  text-transform: none;
}
.section-contact .contact__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* margin-right: 1rem;
  margin-left: 1rem; */
  margin-top: 4rem;
  margin-bottom: 8rem;
}
.section-contact .contact__cards-card {
  background-color: var(--color-white);
  /* width: 35rem;
  height: 20rem; */
  text-align: center;
  height: 24rem;
  flex-basis: 30rem;
  box-sizing: border-box;
  padding: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 1.2rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  margin-top: 3rem;
  transition: ease-in 0.3s;
  border-bottom: 3px solid var(--color-grey-light-1);
}
.section-contact .contact__cards-card:hover {
  transform: scale(1.1);
}
.section-contact .contact__cards-card .fas {
  padding: 2rem 0;
  background-image: var(--bg-gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.section-contact .contact__cards-card h3 {
  font-size: 2rem;
  color: var(--color-grey-light-1);
  letter-spacing: 1px;
  /* padding: 0 2rem; */
  /* padding-bottom: 1rem; */
  text-transform: uppercase;
}
.section-contact .contact__cards-card p {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 700;
  background-image: var(--bg-gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 1px;
  margin-top: 1.5rem;
  padding-bottom: 1rem;
}
.section-contact .contact__form-grp {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 2rem;
  justify-content: left;
  align-items: left;
}
.section-contact .contact__form-grp ::placeholder {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #a5a5a5;
}
.section-contact .contact__form-grp label {
  display: block;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 1px;
  background-image: var(--bg-gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-bottom: 0.5rem;
  align-self: center;
}
.section-contact .contact__form-grp input[type="text"] {
  height: 4.5rem;
  width: 100%;
  flex: 1;
  border: 1px solid #a5a5a5;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-family: inherit;
  outline: none;
  padding: 0 1rem;
  margin-bottom: 3rem;
}
.section-contact .contact__form-grp input[type="text"]:focus {
  border: 1px solid var(--color-primary);
  width: 50%;
}
.section-contact .contact__form-grp textarea {
  height: 13.5rem;
  width: 100%;
  flex: 1;
  font-size: 1.6rem;
  font-family: inherit;
  border: 1px solid var(--color-grey-light-1);
  border-radius: 0.5rem;
  padding: 1rem;
  outline: none;
  margin-bottom: 4rem;
}

.section-contact .contact__form-grp input[type="submit"] {
  height: 4rem;
  width: 100%;
  display: block;
  background: var(--bg-gradient-primary);
  color: var(--color-white);
  border: 1px solid #a5a5a5;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-family: inherit;
  outline: none;
  padding: 0 1rem;
  margin-bottom: 3rem;
  cursor: pointer;
}
.section-contact .contact__form-grp textarea:focus {
  border: 1px solid var(--color-primary);
}
.section-contact .contact__form-grp .recap {
  margin: 0 0 4rem 0;
}
.fa-briefcase:before {
  content: "\f0b1";
}


  /* Colorlib Contact Form */
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.contact-container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  /* margin: 150px 0; */
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  color: var(--color-secondary);
  display: block;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 10px;
  text-transform: none;
}

#contact h4 {
  color: var(--color-primary);
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid var(--color-primary);
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid var(--color-secondary);
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: var(--color-secondary);
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: var(--color-primary);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: var(--color-primary);
}

:-moz-placeholder {
  color: var(--color-primary);
}

::-moz-placeholder {
  color: var(--color-primary);
}

:-ms-input-placeholder {
  color: var(--color-primary);
}





/* Footer */
.footer__main {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  position: relative;
  background-image: var(--bg-gradient-primary);
}
.footer__main h3 {
  font-size: 4rem;
  letter-spacing: 2px;
  text-align: center;
  text-transform: none;
  margin-bottom: 4rem;
  color: var(--color-white);
}
.footer__main-copyrt {
  display: flex;
  font-size: 1.7rem;
}
.footer__main-copyrt a,
.footer__main-copyrt p {
  font-size: 2rem;
  background-image: var(--bg-gradient-secondary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding: 0 2rem 2rem 0;
  /* margin-bottom: 2rem; */
  transition: all 0.3s ease-in;
}
.footer__main-copyrt a:hover {
  cursor: pointer;
  color: var(--color-black);
}
.footer__main-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  position: relative;
  transition: all 0.3s ease-in;
  margin-bottom: 4rem;
}
.footer__main-socials a {
  color: var(--color-primary);
}
.footer__main-socials .fab {
  align-self: center;
  padding: 0 2rem;
  transition: all 0.3s ease-in;
  text-align: center;
  background-image: var(--bg-gradient-secondary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.footer__main-socials .fab:hover {
  color: var(--color-black);
}
























/* Media Queries Laptops */
@media screen and (max-width: 1200px) {
  /* Navigation */
  .navigation .navigation__nav {
    position: relative;
    background-color: var(--color-secondary);
    padding: 1rem 0;
  }
  .navigation .navigation__nav .navigation__list {
    display: none;
  }

  .hamburger {
    display: block;
    color: var(--color-white);
    margin-left: 2rem;
  }

  .nav__ul {
    display: none;
    position: relative;
  }

  .nav__mobile .nav__mobile-ul {
    display: none;
  }

  .nav__mobile .nav__mobile-ul.active {
    display: block;
  }

  .nav {
    position: relative;
    justify-content: flex-end;
    padding-right: 4rem;
  }

  .nav .hamburger {
    display: flex;
    position: relative;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: var(--color-white);
  }

  .nav .hamburger .hamburger-bars {
    align-self: right;
  }

  .nav__mobile {
    display: block;
  }

  .nav__mobile ul {
    position: relative;
  }

  .nav__mobile .nav__mobile-ul li {
    list-style: none;
    padding: 1rem;
    font-weight: 600;
    color: var(--color-white);
    font-size: var(--default-font-size);
  }

  .nav__mobile .nav__mobile-ul a,
  .nav__mobile .nav__mobile-ul i {
    cursor: pointer;
    color: var(--color-white);
    font-weight: 600;
  }

  .nav__mobile .nav__mobile-ul i {
    margin: 1rem;
  }

  .nav__mobile ul li:not(:last-child) {
    border-bottom: 1px solid var(--color-white);
    width: 100%;
  }

  /* Header */
  .header {
    display: flex;
    height: 40vh;
  }
  /* Banner */
  .logo-box img {
    display: flex;
    height: 6rem;
    margin-right: 30rem;
  }
  .logo-box a {
    display: flex;
    position: relative;
    align-items: right;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--color-secondary);
    text-decoration: none;
    }
  
  /* Testimonials */
  .section-testimonials {
    padding: 0 3rem;
  }

  .section-testimonials .testimonials {
    display: flex;
    flex-direction: column;
    /* padding: 0 4rem; */
    margin-top: 6rem;
  }

  /* Colorlib */
  .contact-container {
    display: none;
  }
}

/* Media Queries - Large Tablets*/

@media (max-width: 1024px) {
  /* Navigation */
  .navigation .navigation__nav {
    position: relative;
    background-color: var(--color-secondary);
    padding: 1rem 0;
  }
  .navigation .navigation__nav .navigation__list {
    display: none;
  }

  .hamburger {
    display: block;
    color: var(--color-white);
    margin-left: 2rem;
  }

  .nav__ul {
    display: none;
    position: relative;
  }

  .nav__mobile .nav__mobile-ul {
    display: none;
  }

  .nav__mobile .nav__mobile-ul.active {
    display: block;
  }

  .nav {
    position: relative;
    justify-content: flex-end;
    padding-right: 4rem;
  }

  .nav .hamburger {
    display: flex;
    position: relative;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: var(--color-white);
  }

  .nav .hamburger .hamburger-bars {
    align-self: right;
  }

  .nav__mobile {
    display: block;
  }

  .nav__mobile ul {
    position: relative;
  }

  .nav__mobile .nav__mobile-ul li {
    list-style: none;
    padding: 1rem;
    font-weight: 600;
    color: var(--color-white);
    font-size: var(--default-font-size);
  }

  .nav__mobile .nav__mobile-ul a,
  .nav__mobile .nav__mobile-ul i {
    cursor: pointer;
    color: var(--color-white);
    font-weight: 600;
  }

  .nav__mobile .nav__mobile-ul i {
    margin: 1rem;
  }

  .nav__mobile ul li:not(:last-child) {
    border-bottom: 1px solid var(--color-white);
    width: 100%;
  }
  /* Header */
  .header {
    display: flex;
    height: 40vh;
  }
  /* Banner */
  .logo-box img {
    display: flex;
    height: 6rem;
    margin-right: 30rem;
  }
  .logo-box a {
    display: flex;
    position: relative;
    align-items: right;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--color-secondary);
    text-decoration: none;
    }
  
  .showcase__img-gallery {
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 1fr 1fr; */
    gap: 5rem;
    justify-items: center;
  }

  .contact-container {
    display: none;
  }

  /* Construction .html */
  /* Construction page */

  /* .process .process__item .process__item-item,
  .process-2 .process-2__item .process-2__item-item,
  .process-3 .process-3__item .process-3__item-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 8rem;
  }

  .process .process__item-textbox--1,
  .process-2 .process-2__item-textbox--1,
  .process-3 .process-3__item-textbox--1 {
    padding-left: 0;
    padding-right: 0;
  }

  .process .process__item-img--1,
  .process-2 .process-2__item-img--1,
  .process-3 .process-3__item-img--1 {
  } */
}

/* Media Queries - Small Tablets */

@media (max-width: 768px) {
  /* Navigation */
  .navigation .navigation__nav {
    position: relative;
    background-color: var(--color-secondary);
    padding: 1rem 0;
  }
    
  /* Header */
  .header {
    display: flex;
    height: 40vh;
  }

  /* Banner */
  .logo-box img {
    display: flex;
    height: 6rem;
    margin-right: 30rem;
  }

  .logo-box a {
    display: flex;
    position: relative;
    align-items: right;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--color-secondary);
    text-decoration: none;
  }

  .navigation .navigation__nav .navigation__list {
    display: none;
  }

  .hamburger {
    display: block;
    color: var(--color-white);
    margin-left: 2rem;
  }

  .nav__ul {
    display: none;
    position: relative;
  }

  .nav__mobile .nav__mobile-ul {
    display: none;
  }

  .nav__mobile .nav__mobile-ul.active {
    display: block;
  }

  .nav {
    position: relative;
    justify-content: flex-end;
    padding-right: 4rem;
  }

  .nav .hamburger {
    display: flex;
    position: relative;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: var(--color-white);
  }

  .nav .hamburger .hamburger-bars {
    align-self: right;
  }

  .nav__mobile {
    display: block;
  }

  .nav__mobile ul {
    position: relative;
  }

  .nav__mobile .nav__mobile-ul li {
    list-style: none;
    padding: 1rem;
    font-weight: 600;
    color: var(--color-white);
    font-size: var(--default-font-size);
  }

  .nav__mobile .nav__mobile-ul a,
  .nav__mobile .nav__mobile-ul i {
    cursor: pointer;
    color: var(--color-white);
    font-weight: 600;
  }

  .nav__mobile .nav__mobile-ul i {
    margin: 1rem;
  }

  .nav__mobile ul li:not(:last-child) {
    border-bottom: 1px solid var(--color-white);
    width: 100%;
  }

  @media (max-width: 768px) {
    /* Navigation */
    .navigation .navigation__nav {
    position: relative;
    background-color: var(--color-secondary);
    padding: 1rem 0;
    }
    
    /* Header */
    .header {
      display: flex;
      height: 40vh;
    }

    /* Banner */
    .logo-box img {
      display: flex;
      height: 6rem;
      margin-right: 30rem;
    }

    .logo-box a {
      display: flex;
      position: relative;
      align-items: right;
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 2px;
      color: var(--color-secondary);
      text-decoration: none;
    }
    
    /* Showcase */
    .showcase .showcase__img-box-text h3 {
      font-size: 3rem;
      text-align: center;
      color: var(--color-white);
      margin-bottom: 1rem;
    }

    .showcase .btn--secondary {
      padding: 1rem 3rem;
    }

    /* Features */
    .features-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .features-box .features-box-image {
      flex: 1;
      margin-right: 2rem;
      padding: 2rem;
    }

    .features-box .features-box-image img {
      width: 75%;
    }

    .features-box .features-box-text {
      flex: 2;
      padding: 2rem;
    }

    /* Footer */
    .footer__main-copyrt {
      display: flex;
      flex-direction: column;
      font-size: 1.7rem;
      text-align: center;
    }

    /* Construction page */

    /* .process .container {
      padding: 12rem;
    } */

    .process .process__item .process__item-item,
    .process-2 .process-2__item .process-2__item-item,
    .process-3 .process-3__item .process-3__item-item {
      
      position: relative;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin-top: 0;
    }

    .process .process__item-textbox--1,
    .process-2 .process-2__item-textbox--1,
    .process-3 .process-3__item-textbox--1 {
      padding-left: 0;
      padding-right: 0;
    }

    /* About */
    /* Construction page */
    .about .about__item .about__item-item,
    .about-2 .about-2__item .about-2__item-item,
    .about-3 .about-3__item .about-3__item-item {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin-top: 0;
    }

    .about .about__item-textbox--1,
    .about-2 .about-2__item-textbox--1,
    .about-3 .about-3__item-textbox--1 {
      padding-left: 0;
      padding-right: 0;
    }

    .about .about__item-item .about__item-img--1,
    .about-2 .about-2__item-img--1,
    .about-3 .about-3__item-img--1 {
      display: none;
    }

    .contact-container {
      display: none;
    }
  }

  /* Media Queries - Mobile Devices */
  @media (max-width: 500px) {
    /* Navigation */
    .navigation .navigation__nav {
      position: relative;
      background-color: var(--color-secondary);
      padding: 1rem 0;
    }
    /* Banner */
    .logo-box img {
      display: flex;
      height: 4.5rem;
      margin-right: 0rem;
    }

    .logo-box a {
      display: flex;
      position: relative;
      align-items: right;
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 2px;
      color: var(--color-secondary);
      text-decoration: none;
    }

    /* Header */
    .header {
    display: flex;
    height: 20vh;
    }

    .header .header__text-box h1 {
      font-size: 4rem;
    }
    /* 
  @media (max-width: 500px) {
    .navigation .navigation__nav .navigation__list {
      display: none;
    }

    .hamburger {
      display: block;
      color: var(--color-white);
      margin-left: 2rem;
    }

    .nav__ul {
      display: none;
      position: relative;
    }

    .nav__mobile .nav__mobile-ul {
      display: none;
    }

    .nav__mobile .nav__mobile-ul.active {
      display: block;
    }

    .nav {
      position: relative;
      justify-content: flex-end;
      padding-right: 4rem;
    }

    .nav .hamburger {
      display: flex;
      position: relative;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      color: var(--color-white);
    }

    .nav .hamburger .hamburger-bars {
      align-self: right;
    }

    .nav__mobile {
      background: red;
      display: block;
    }

    .nav__mobile ul {
      position: relative;
    }

    .nav__mobile .nav__mobile-ul li {
      list-style: none;
      padding: 1rem;
      font-weight: 600;
      color: var(--color-white);
      font-size: var(--default-font-size);
    }

    .nav__mobile .nav__mobile-ul a,
    .nav__mobile .nav__mobile-ul i {
      cursor: pointer;
      color: var(--color-white);
      font-weight: 600;
    }

    .nav__mobile .nav__mobile-ul i {
      margin: 1rem;
    }

    .nav__mobile ul li:not(:last-child) {
      border-bottom: 1px solid var(--color-white);
      width: 100%;
    } */

    /* Showcase */
    .showcase .showcase__img-gallery {
      grid-template-columns: 1fr;
    }

    .showcase h2 {
      font-size: 4rem;
    }

    .showcase .showcase__img-box-text h3 {
      font-size: 2rem;
    }

    .showcase .btn--secondary {
      margin-top: 1rem;
      margin-bottom: 0;
      padding: 1rem 2rem;
    }

    /* Features */
    .features-box .features-box-image {
      margin: 0;
    }

    .features-box .features-box-image img {
      width: 100%;
    }

    .features .features-box .btn {
      width: 100%;
      padding: 1.5rem 3.5rem;
    }

    /* Steps */
    .step-container {
      display: inline-block;
    }

    /* Testimonials */

    .section-testimonials {
      padding: 2rem;
    }

    .section-testimonials .container {
      padding: 6rem;
    }

    .section-testimonials .container h2 {
      font-size: 4rem;
      text-align: center;
      margin-bottom: 0;
    }

    .section-testimonials .testimonials__item {
      padding: 0;
    }

    /* Contact Form */
    .section-contact h2 {
      padding-bottom: 0rem;
      font-size: 4rem;
    }

    .section-contact .container {
      padding: 5rem;
    }

    /* Footer  */
    .footer__main {
      text-align: center;
      line-height: 1.2;
      letter-spacing: 1.5px;
    }

    .footer__main h3 {
      font-size: 4rem;
    }

    .footer__main-copyrt a,
    .footer__main-copyrt p {
      padding: 0 0 2rem 0;
      line-height: 1.5;
    }

    /* Services page */
    .services h2 {
      font-size: 4rem;
      margin-top: 4rem;
    }
    .services-2 h2 {
      font-size: 4rem;
      margin-top: 4rem;
    }

    .services .container {
      padding: 2rem;
    }
    .services .services__card {
      height: 70rem;
    }
    .services-2 .container {
      padding: 2rem;
    }

    /* Gallery page */
    .gallery .container {
      padding: 4rem;
    }

    .gallery h2 {
      font-size: 4rem;
      margin-bottom: 0;
    }

    .gallery p {
      /* text-align: center; */
      padding-right: 2rem;
      padding-left: 2rem;
    }

    .gallery .gallery__img-gallery {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }

    /* Construction */
    .process .container,
    .process-2 .container,
    .process-3 .container {
      padding-right: 6rem;
      padding-left: 6rem;
    }

    .process h2,
    .process-2 h2,
    .process-3 h2 {
      margin-top: 2rem;
      font-size: 4rem;
      margin-bottom: 4rem;
      text-align: left;
      text-transform: uppercase;
    }
    /* Colorlib */

    .contact-container {
      max-width: 400px;
      width: 95%;
      margin: 0 auto;
      position: absolute;
      top: 80%;
      display: none;
    }

    .contact-container-2 {
      max-width: 400px;
      /* height: 10px; */
      width: 100%;
      margin: 0 auto;
      position: relative;
      display: flex;
    }
  }
}
